:root {
  --spacing: 1rem;
  --white: 255, 255, 255;
  --dark: #222;
  --background: #ffffff;
  --text: #0a071b;
  --containers: #909ae8;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --lavender: #fcdfff;
  --pastel-blue: #b4bde3;
  --pastel-pink: #fde3e6;
  --salmon: #fd8395ff;
  --folder: #49509d;
  --black: #000;
  --brown: #5c2636ff;
  --macaroni: #f7bb84ff;
}

.me {
  height: 10px;
  width: 10px;
  transform: scale(.8) translate(-100px, -30px);
  position: absolute;
  top: -5px;
  left: -5px;
  overflow: visible !important;
  box-shadow:
    180px 60px 0 0 var(--black), 190px 60px 0 0 var(--black), 200px 60px 0 0 var(--black), 210px 60px 0 0 var(--black), 220px 60px 0 0 var(--black), 230px 60px 0 0 var(--black), 240px 60px 0 0 var(--black), 250px 60px 0 0 var(--black),
    160px 70px 0 0 var(--black), 170px 70px 0 0 var(--black), 180px 70px 0 0 var(--hair), 190px 70px 0 0 var(--hair), 200px 70px 0 0 var(--hair), 210px 70px 0 0 var(--hair), 220px 70px 0 0 var(--hair), 230px 70px 0 0 var(--hair), 240px 70px 0 0 var(--hair), 250px 70px 0 0 var(--hair), 260px 70px 0 0 var(--black), 150px 80px 0 0 var(--black), 160px 80px 0 0 var(--hair), 170px 80px 0 0 var(--hair), 180px 80px 0 0 var(--hair), 190px 80px 0 0 var(--hair), 200px 80px 0 0 var(--hair), 210px 80px 0 0 var(--hair), 220px 80px 0 0 var(--hair), 230px 80px 0 0 var(--hair), 240px 80px 0 0 var(--hair), 250px 80px 0 0 var(--hair), 260px 80px 0 0 var(--hair), 270px 80px 0 0 var(--black), 280px 80px 0 0 var(--black),
    140px 90px 0 0 var(--black), 150px 90px 0 0 var(--hair), 160px 90px 0 0 var(--hair), 170px 90px 0 0 var(--hair),
    180px 90px 0 0 var(--hair), 190px 90px 0 0 var(--hair),
    200px 90px 0 0 var(--hair), 210px 90px 0 0 var(--hair),
    220px 90px 0 0 var(--hair), 230px 90px 0 0 var(--hair),
    240px 90px 0 0 var(--hair), 250px 90px 0 0 var(--hair),
    260px 90px 0 0 var(--hair), 270px 90px 0 0 var(--hair),
    280px 90px 0 0 var(--black), 290px 90px 0 0 var(--black),
    130px 100px 0 0 var(--black), 140px 100px 0 0 var(--hair),
    150px 100px 0 0 var(--hair), 160px 100px 0 0 var(--hair),
    170px 100px 0 0 var(--hair), 180px 100px 0 0 var(--hair),
    190px 100px 0 0 var(--hair), 200px 100px 0 0 var(--hair),
    210px 100px 0 0 var(--hair), 220px 100px 0 0 var(--hair), 230px 100px 0 0 var(--hair),
    240px 100px 0 0 var(--hair), 250px 100px 0 0 var(--hair), 260px 100px 0 0 var(--hair),
    270px 100px 0 0 var(--hair), 280px 100px 0 0 var(--hair), 290px 100px 0 0 var(--black), 130px 110px 0 0 var(--black),
    140px 110px 0 0 var(--hair-highlight), 150px 110px 0 0 var(--hair), 160px 110px 0 0 var(--hair),
    170px 110px 0 0 var(--hair-shadow), 180px 110px 0 0 var(--hair), 190px 110px 0 0 var(--hair),
    200px 110px 0 0 var(--hair), 210px 110px 0 0 var(--hair), 220px 110px 0 0 var(--hair),
    230px 110px 0 0 var(--hair), 240px 110px 0 0 var(--hair), 250px 110px 0 0 var(--hair),
    260px 110px 0 0 var(--hair), 270px 110px 0 0 var(--hair), 280px 110px 0 0 var(--hair-highlight),
    290px 110px 0 0 var(--black), 300px 110px 0 0 var(--black), 120px 120px 0 0 var(--black),
    130px 120px 0 0 var(--hair), 140px 120px 0 0 var(--hair), 150px 120px 0 0 var(--hair-highlight),
    160px 120px 0 0 var(--hair-shadow), 170px 120px 0 0 var(--hair), 180px 120px 0 0 var(--hair-highlight),
    190px 120px 0 0 var(--hair-highlight), 200px 120px 0 0 var(--hair-highlight), 210px 120px 0 0 var(--hair), 220px 120px 0 0 var(--hair-shadow), 230px 120px 0 0 var(--hair),
    240px 120px 0 0 var(--hair-highlight), 250px 120px 0 0 var(--hair-shadow), 260px 120px 0 0 var(--hair),
    270px 120px 0 0 var(--hair-highlight), 280px 120px 0 0 var(--hair), 290px 120px 0 0 var(--hair), 300px 120px 0 0 var(--black), 120px 130px 0 0 var(--black), 130px 130px 0 0 var(--hair), 140px 130px 0 0 var(--hair), 150px 130px 0 0 var(--hair-shadow), 160px 130px 0 0 var(--hair-shadow), 170px 130px 0 0 var(--hair), 180px 130px 0 0 var(--hair), 190px 130px 0 0 var(--hair), 200px 130px 0 0 var(--hair),
    210px 130px 0 0 var(--hair), 220px 130px 0 0 var(--hair-shadow), 230px 130px 0 0 var(--hair),
    240px 130px 0 0 var(--hair), 250px 130px 0 0 var(--hair), 260px 130px 0 0 var(--hair-shadow),
    270px 130px 0 0 var(--hair), 280px 130px 0 0 var(--hair), 290px 130px 0 0 var(--hair), 300px 130px 0 0 var(--hair), 310px 130px 0 0 var(--black), 110px 140px 0 0 var(--black), 120px 140px 0 0 var(--hair), 130px 140px 0 0 var(--hair), 140px 140px 0 0 var(--hair-shadow), 150px 140px 0 0 var(--hair-shadow), 160px 140px 0 0 var(--skin),
    170px 140px 0 0 var(--hair-shadow), 180px 140px 0 0 var(--hair),
    190px 140px 0 0 var(--hair), 200px 140px 0 0 var(--hair),
    210px 140px 0 0 var(--hair-shadow), 220px 140px 0 0 var(--skin),
    230px 140px 0 0 var(--hair-shadow), 240px 140px 0 0 var(--hair),
    250px 140px 0 0 var(--hair), 260px 140px 0 0 var(--hair-shadow), 270px 140px 0 0 var(--hair), 280px 140px 0 0 var(--hair), 290px 140px 0 0 var(--hair), 300px 140px 0 0 var(--hair), 310px 140px 0 0 var(--black), 110px 150px 0 0 var(--black), 120px 150px 0 0 var(--hair), 130px 150px 0 0 var(--hair), 140px 150px 0 0 var(--hair-shadow),
    150px 150px 0 0 var(--skin), 160px 150px 0 0 var(--skin),
    170px 150px 0 0 var(--hair-shadow), 180px 150px 0 0 var(--hair), 190px 150px 0 0 var(--hair-shadow), 200px 150px 0 0 var(--hair-shadow), 210px 150px 0 0 var(--skin), 220px 150px 0 0 var(--skin), 230px 150px 0 0 var(--hair-shadow), 240px 150px 0 0 var(--hair), 250px 150px 0 0 var(--hair), 260px 150px 0 0 var(--hair), 270px 150px 0 0 var(--hair-shadow), 280px 150px 0 0 var(--hair), 290px 150px 0 0 var(--hair), 300px 150px 0 0 var(--hair), 310px 150px 0 0 var(--hair), 320px 150px 0 0 var(--black), 110px 160px 0 0 var(--black), 120px 160px 0 0 var(--hair),
    130px 160px 0 0 var(--hair-shadow), 140px 160px 0 0 var(--hair-shadow),
    150px 160px 0 0 var(--brow), 160px 160px 0 0 var(--brow), 170px 160px 0 0 var(--skin), 180px 160px 0 0 var(--hair-shadow), 190px 160px 0 0 var(--skin), 200px 160px 0 0 var(--skin), 210px 160px 0 0 var(--brow), 220px 160px 0 0 var(--brow), 230px 160px 0 0 var(--brow), 240px 160px 0 0 var(--hair-shadow), 250px 160px 0 0 var(--hair), 260px 160px 0 0 var(--hair), 270px 160px 0 0 var(--hair-shadow), 280px 160px 0 0 var(--black), 290px 160px 0 0 var(--hair), 300px 160px 0 0 var(--hair), 310px 160px 0 0 var(--hair), 320px 160px 0 0 var(--black), 110px 170px 0 0 var(--black),
    120px 170px 0 0 var(--hair), 130px 170px 0 0 var(--hair-shadow),
    140px 170px 0 0 var(--skin), 150px 170px 0 0 var(--white), 160px 170px 0 0 var(--dark-eye), 170px 170px 0 0 var(--skin), 180px 170px 0 0 var(--skin), 190px 170px 0 0 var(--skin), 200px 170px 0 0 var(--skin), 210px 170px 0 0 var(--white), 220px 170px 0 0 var(--dark-eye), 230px 170px 0 0 var(--skin), 240px 170px 0 0 var(--skin), 250px 170px 0 0 var(--hair-shadow), 260px 170px 0 0 var(--hair), 270px 170px 0 0 var(--hair-shadow), 280px 170px 0 0 var(--skin), 290px 170px 0 0 var(--black), 300px 170px 0 0 var(--hair), 310px 170px 0 0 var(--hair), 320px 170px 0 0 var(--black), 110px 180px 0 0 var(--black), 120px 180px 0 0 var(--hair), 130px 180px 0 0 var(--glasses), 140px 180px 0 0 var(--skin), 150px 180px 0 0 var(--eye-highlight), 160px 180px 0 0 var(--eye-highlight), 170px 180px 0 0 var(--skin), 180px 180px 0 0 var(--glasses), 190px 180px 0 0 var(--glasses), 200px 180px 0 0 var(--skin), 210px 180px 0 0 var(--eye-highlight), 220px 180px 0 0 var(--eye-highlight),
    230px 180px 0 0 var(--skin), 240px 180px 0 0 var(--glasses), 250px 180px 0 0 var(--glasses), 260px 180px 0 0 var(--hair-shadow), 270px 180px 0 0 var(--hair-shadow), 280px 180px 0 0 var(--skin-shadow), 290px 180px 0 0 var(--skin), 300px 180px 0 0 var(--black), 310px 180px 0 0 var(--hair), 320px 180px 0 0 var(--black),
    110px 190px 0 0 var(--black), 120px 190px 0 0 var(--hair), 130px 190px 0 0 var(--glasses), 140px 190px 0 0 var(--skin), 150px 190px 0 0 var(--lower-eye), 160px 190px 0 0 var(--lower-eye), 170px 190px 0 0 var(--glasses), 180px 190px 0 0 var(--skin),
    190px 190px 0 0 var(--skin), 200px 190px 0 0 var(--glasses), 210px 190px 0 0 var(--lower-eye), 220px 190px 0 0 var(--lower-eye), 230px 190px 0 0 var(--skin), 240px 190px 0 0 var(--glasses), 250px 190px 0 0 var(--skin), 260px 190px 0 0 var(--skin-shadow), 270px 190px 0 0 var(--hair-shadow), 280px 190px 0 0 rgb(246, 206, 198), 290px 190px 0 0 var(--skin), 300px 190px 0 0 var(--black), 310px 190px 0 0 var(--hair), 320px 190px 0 0 var(--black), 110px 200px 0 0 var(--black), 120px 200px 0 0 var(--hair), 130px 200px 0 0 var(--black), 140px 200px 0 0 var(--glasses), 150px 200px 0 0 var(--glasses), 160px 200px 0 0 var(--glasses), 170px 200px 0 0 var(--skin), 180px 200px 0 0 var(--skin), 190px 200px 0 0 var(--skin), 200px 200px 0 0 var(--skin), 210px 200px 0 0 var(--glasses), 220px 200px 0 0 var(--glasses), 230px 200px 0 0 var(--glasses), 240px 200px 0 0 var(--skin), 250px 200px 0 0 var(--skin), 260px 200px 0 0 var(--skin-shadow),
    270px 200px 0 0 var(--skin), 280px 200px 0 0 var(--skin), 290px 200px 0 0 var(--black), 300px 200px 0 0 var(--hair),
    310px 200px 0 0 var(--black), 320px 200px 0 0 var(--black), 110px 210px 0 0 var(--black), 120px 210px 0 0 var(--hair),
    130px 210px 0 0 var(--black), 140px 210px 0 0 var(--skin), 150px 210px 0 0 var(--skin), 160px 210px 0 0 var(--skin),
    170px 210px 0 0 var(--skin), 180px 210px 0 0 var(--skin), 190px 210px 0 0 var(--skin), 200px 210px 0 0 var(--skin),
    210px 210px 0 0 var(--skin), 220px 210px 0 0 var(--skin), 230px 210px 0 0 var(--skin), 240px 210px 0 0 var(--skin), 250px 210px 0 0 var(--skin), 260px 210px 0 0 var(--skin-shadow),
    270px 210px 0 0 var(--black), 280px 210px 0 0 var(--black), 290px 210px 0 0 var(--hair), 300px 210px 0 0 var(--hair),
    310px 210px 0 0 var(--black), 110px 220px 0 0 var(--black), 120px 220px 0 0 var(--hair), 130px 220px 0 0 var(--hair),
    140px 220px 0 0 var(--black), 150px 220px 0 0 var(--skin), 160px 220px 0 0 var(--skin), 170px 220px 0 0 var(--skin),
    180px 220px 0 0 var(--mouth-2), 190px 220px 0 0 var(--mouth-2), 200px 220px 0 0 var(--skin),
    210px 220px 0 0 var(--mouth), 220px 220px 0 0 var(--skin), 230px 220px 0 0 var(--skin), 240px 220px 0 0 var(--skin), 250px 220px 0 0 var(--skin-shadow),
    260px 220px 0 0 var(--black), 270px 220px 0 0 var(--hair), 280px 220px 0 0 var(--hair), 290px 220px 0 0 var(--hair),
    300px 220px 0 0 var(--hair), 310px 220px 0 0 var(--black), 120px 230px 0 0 var(--black), 130px 230px 0 0 var(--hair),
    140px 230px 0 0 var(--hair), 150px 230px 0 0 var(--black), 160px 230px 0 0 var(--skin), 170px 230px 0 0 var(--skin),
    180px 230px 0 0 var(--mouth), 190px 230px 0 0 var(--mouth), 200px 230px 0 0 var(--mouth), 210px 230px 0 0 var(--skin),
    220px 230px 0 0 var(--skin), 230px 230px 0 0 var(--skin-shadow), 240px 230px 0 0 var(--skin-shadow),
    250px 230px 0 0 var(--black), 260px 230px 0 0 var(--hair), 270px 230px 0 0 var(--hair), 280px 230px 0 0 var(--hair),
    290px 230px 0 0 var(--hair), 300px 230px 0 0 var(--black), 130px 240px 0 0 var(--black), 140px 240px 0 0 var(--hair),
    150px 240px 0 0 var(--black), 160px 240px 0 0 var(--black), 170px 240px 0 0 var(--skin), 180px 240px 0 0 var(--skin),
    190px 240px 0 0 var(--skin), 200px 240px 0 0 var(--skin), 210px 240px 0 0 var(--skin), 220px 240px 0 0 var(--skin), 230px 240px 0 0 var(--black), 240px 240px 0 0 var(--black), 250px 240px 0 0 var(--hair), 260px 240px 0 0 var(--hair), 270px 240px 0 0 var(--black), 280px 240px 0 0 var(--black), 290px 240px 0 0 var(--black), 140px 250px 0 0 var(--black), 250px 250px 0 0 var(--black), 260px 250px 0 0 var(--black);
}

.pixel-container {
  width: 210px;
  height: 200px;
  position: relative;
  --black: rgba(0, 0, 0, 1);
  --hair: rgb(87, 64, 55);
  --white: rgb(255, 255, 255);
  --glasses: rgb(62, 58, 94);
  --skin: rgba(255, 205, 210, 1);
  --hair-shadow: rgb(45, 31, 19);
  --dark-eye: rgb(40, 26, 14);
  --lower-eye: rgb(142, 96, 58);
  --skin-shadow: #c98f8d;
  --hair-highlight: rgb(196, 154, 137);
  --mouth: #be726f;
  --mouth-2: var(--skin);
  --brow: rgb(80, 45, 28);
  --eye-highlight: rgb(173, 115, 64);
}

.folder {
  min-height: 100px;
  min-width: 300px;
  margin: var(--spacing);
  z-index: 1;
  border-radius: 5px 1rem 1rem 1rem;
  background: var(--folder);
  position: relative;
  padding: var(--spacing);
}

.folder::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -18px;
  left: 0;
  width: 200px;
  height: 30px;
  background: var(--folder);
  border-radius: 25px 0 0 0;
  clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
}

  :root {
    --background: #171637;
    --text: #fff;
    --containers: #1c2244;
  }

html,
body {
  max-width: 100vw;
    scroll-behavior: smooth;
}


body {
  background-color: var(--background) !important;
  --background-color: 0, 0, 0;
  background-image:
    linear-gradient(to top, transparent, var(--background), var(--background), rgba(var(--background-color), .2), var(--background)),
    radial-gradient(at 11% 16%, hsla(231, 83%, 58%, 0.142) 0px, transparent 50%),
    url('https://64.media.tumblr.com/b0cd867eddc59c64188f9b2b7a9e29b4/5d2c15c12b39b961-29/s2048x3072/360c1e057450d39646c584ed992c0d083846f05a.png') !important;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.passions .confetti {
  border: 0;
  padding-top: 2px;
  font-weight: bold;
}

.confetti {
  margin: 0 4px;
  position: relative;
  border-bottom: 2px dashed white;
}

article .confetti {
  display: inline-block;
  line-height: 140%;
}

.confetti:hover i {
  animation: bang 2s ease-out infinite;
}

.confetti i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 3px;
  opacity: 0;
  height: 5px;
  background: red;
}

.confetti:hover i:nth-of-type(1) {
  transform: translate3d(24px, -10px, 0) rotate(79deg);
  background: tomato;
}

.confetti i:nth-of-type(2) {
  transform: translate3d(37px, -14px, 0) rotate(58deg);
  background: mediumaquamarine;
}

.confetti i:nth-of-type(3) {
  transform: translate3d(-40px, -14px, 0) rotate(329deg);
  background: peachpuff;
}

.confetti i:nth-of-type(4) {
  transform: translate3d(-36px, -10px, 0) rotate(345deg);
  background: skyblue;
}

.confetti i:nth-of-type(5) {
  transform: translate3d(-26px, -10px, 0) rotate(329deg);
  background: slateblue;
}

.confetti i:nth-of-type(6) {
  transform: translate3d(0px, -18px, 0) rotate(345deg);
  background: goldenrod;
}

@keyframes bang {
  from {
    transform: scale(1.6) translate3d(0, 0, 0);
    opacity: 1;
  }
}


.fun,
.interactions {
  position: relative;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}


.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.centered {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column {
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
.buttons a,
.buttons button,
.buttons span {
  font-weight: normal;
  font-family: "VT323", monospace;
}

button, a {
  color: white;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover,
footer button:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 400;
  font-size: 3.2rem;
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

.sr-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

header,
main,
footer {
  max-width: calc(100% - 8vh);
  width: 100%;
  margin: auto;
}

header {
  border-radius: 1.2rem;
  height: 50vh;
  background: radial-gradient(var(--background), rgb(48, 46, 96));
  gap: var(--spacing);
  font-family: "VT323", monospace;
}

header h1 {
  font-size: 2.4rem;
}

header p {

  font-size: 1.6rem;
}

header span:hover {
  border-bottom: 2px dashed white;
}


nav:before,
nav:after {
  content: "";
  right: 0;
  display: block;
  position: absolute;
  top: -1.2px;
}

nav:after {
  background-image: radial-gradient(circle at 100% 0, transparent 0, transparent 30px, #171637d4 30px);
  width: 30px;
  height: 30px;
  transform: scaleY(-1);
  right: -30px;
}

nav:before {
  background-image: radial-gradient(circle at 100% 0, transparent 0, transparent 28px, #171637d4 28px);
  width: 28px;
  height: 28px;
  transform: scaleX(-1) scaleY(-1);
  left: -28px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  gap: calc(var(--spacing) * 2);
  background: #171637d4 ;
  height: auto;
  width: 30vw;
  backdrop-filter: blur(10px);
  margin: 4vh auto -50px auto;
  align-items: center;
  border-radius: 0 0 1.4rem 1.4rem;
  padding: var(--spacing);
}

h2 {
  font-size: 2.8rem;
  font-weight: normal;
}

main {
  position: relative;
}

section {
  gap: calc(var(--spacing) * 2);
  position: relative;
  padding: calc(var(--spacing) * 2);
  margin: calc(var(--spacing) * 2);
  padding-left: 0;
}




.preview {
  position: relative;
  height: 200px;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  background: var(--folder)
}

.preview:before {
  width: calc(100% - 18px);
  background: rgb(26, 38, 202);
  left: 5px;
  top: 5px;
  margin: 4px;
  border-radius: 10px;
  opacity: .4;
  height: calc(100% - 18px);
  position: absolute;
  content: '';
  border-bottom-right-radius: 1.6rem;
}

.preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.project .text {
  transform: translateY(-3.4rem);
  border-radius: 10px;
}

.project .title::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 0;
  width: 200px;
  height: 100px;
  background: var(--folder);
  border-radius: 25px 0 0 0;
  clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 50 L 0 50 z');
}

.text p {
  margin-top: -1rem;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid var(--folder);
  background: var(--folder);
}

.text p,
.text .title {
  padding: var(--spacing);
}

.text h3 {
  font-size: 1.4rem;

}


.text .pill {
  transform: translateY(-12px);
  border-radius: 1rem;
  padding: calc(var(--spacing) / 2) var(--spacing);
  background: var(--folder);
  filter: brightness(90%);
  box-shadow: 0 0 10px 0 var(--folder);
}

.stretched {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
}

.project-container {
  position: relative;
  margin: auto;
}

.project-container:before,
.project-container:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  pointer-events: none;
  z-index: 9;
  background: linear-gradient(to right, var(--background), transparent)
}

.project-container:before {
  left: 0;
}

.project-container:after {
  right: 0;
  background: linear-gradient(to right, transparent, var(--background))
}

.pagination {
text-align: center;
width: 100%;
}

.pagination button {
  font-family: "VT323", monospace;
  font-size: 1.8rem;
  margin: var(--spacing) auto;
  --s: 1.4rem; 
  border: 8px solid var(--folder); 
  padding: 10px;
  width: 300px;
  background: var(--background);
  mask: 
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
    0 0/calc(100% - var(--s)) calc(100% - var(--s));

}

.pagination button:after {
  content:'>';
  margin-left: var(--spacing)
}

.projects {
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;

}

section h2 {
  text-align: center;
}

section h2 span {
  padding: var(--spacing);
  display: inline-block;
  font-size: 2rem;
  margin: var(--spacing) auto;
}

.project {
  position: relative;
  flex: 0 0 33.33%;
  transition: transform .6s;
}

.project-left,
.project-right {
  transform: scale(.8);
  transition: .6s ease;
}

.project-left {
  transform: scale(.8) rotateY(-15deg);
}

.project img {
  pointer-events: none;
  border-radius: 10px;
  border-bottom-right-radius: 1.6rem;
}

.project-right {
  transform: scale(.8) rotateY(15deg);
}

.project-center {
  transform: scale(1) rotateY(0);
}

.project-offscreen-right {
  transform: scale(.6) rotateY(15deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg)
  }

  100% {
    transform: rotateY(-15deg)
  }
}

.skills {
  margin: var(--spacing);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: calc(var(--spacing) * 1.4);
  grid-template-areas:
    "one one four four"
    "one one four four"
    "three two two five";
}

.skills article:first-child {
  grid-area: one;
}


.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);
  padding: var(--spacing);
  margin: var(--spacing) auto;
}
.social {
  padding: 8px var(--spacing);
  font-size: 1.2rem;
  border-radius: 2rem;
}

.skills article:nth-of-type(2), .social {
  grid-area: two;
  background: rgb(121, 51, 128);
}

.skills article:nth-of-type(3), .social:nth-of-type(2){
  grid-area: three;

  background: rgb(69, 104, 179);
}

.skills article:nth-of-type(4) {
  grid-area: four;
  background: rgb(151, 48, 106);
}

.skills article:nth-of-type(5),  .social:nth-of-type(3) {
  grid-area: five;
  background: rgb(23, 93, 109);
}

.skills article {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background: var(--folder);
}

.skills h3 {
  font-size: 1.6rem;
  padding: var(--spacing);
  border-radius: 10px 10px 0 0;
  background: rgba(255, 255, 255, .12);
}

.skill article {
  position: relative;
}

.skills h3 span {
  font-family: 'open sans';
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 2rem;
  background: rgba(48, 4, 57, 0.2);
}

.sparkle {
  z-index: 9;
  position: absolute;
  transform: scale(.6) translate(-90%, -40%);
}

.sparkle:nth-of-type(2) {
  bottom: 0;
  right: 0;
  transform: scale(.4) translate(80%, 110%);

}

.sparkle span {
  height: 100px;
  width: 80px;
  display: block;
  animation: sparkle 3.4s ease infinite;
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  background: rgb(255, 187, 0);
}

@keyframes sparkle {
  50% {
    transform: scale(.8) rotate(10deg);
  }
}

ul {
  padding: var(--spacing);
  margin-left: var(--spacing);
}

ul li {
  padding: 4px;
}

.funky-underline {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}

.funky-underline:before {
  height: .8rem;
  margin-top: 2rem;
  width: 100%;
  content: '';
  position: absolute;
  aspect-ratio: 6;
  filter: brightness(80%);
  --c: transparent 64%, #222869, transparent 101%;
  background:
    radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l5 3.2s infinite linear;
}

@keyframes l5 {
  50% {
    clip-path: inset(0)
  }

  to {
    clip-path: inset(0 0 0 100%)
  }
}


.passions article {
  margin: var(--spacing) auto;
  position: relative;
  background: var(--folder);
  text-align: left;
  line-height: 1.4rem;
  --s: 1rem;
  --w: 90%;
  width: round(var(--w), 4*var(--s));
  height: 320px;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  border-radius: calc(3.5*var(--s));
  mask:
    radial-gradient(calc(sqrt(2)*var(--s)), #000 calc(100% - 1px), #0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2)*var(--s)), #0000 100%, #000 calc(100% + 1px)) var(--s) var(--s) padding-box;
  mask-size: calc(var(--s)*4) calc(var(--s)*4);
}

.p p {
  line-height: 200%;
  padding-bottom: var(--spacing);
}

.passions {
  --s: 159px;
  --c1: rgba(100, 86, 253, 0.138);
  --c2: #242251;
  --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
  background:
    radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
    var(--c2);
  background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
  border-radius: 1rem;
}

.content {
  position: relative;
  width: 100%;
  padding: calc(var(--spacing) * 2);

}

.passions h2 {
  font-size: 2.4rem;
  text-align: left;

}



@media screen and (min-width: 871px) {

  .projects.animation-right,
  .projects.animation-left {
    animation: slide 2s ease forwards;
  }

  @keyframes slide {
    to {
      opacity: 1
    }
  }

  .projects.animation-right .project {
    animation: slideRight 2s ease forwards
  }

  .projects.animation-right .project:nth-of-type(1) {
    animation: slideOffRight 2s ease forwards
  }

  .projects.animation-right .project:nth-of-type(2) {
    animation: slideRightLeft 2s ease forwards
  }

  .projects.animation-right .project:nth-of-type(4) {
    animation: slideRightRight 2s ease forwards
  }


  .projects.animation-left .project-right {
    animation: slideOffLeft 2s ease forwards
  }

  .projects.animation-left .project-offscreen-left {
    transform: translateX(-20%) scale(.6) rotateY(-15deg);
    opacity: 0 !important;
    animation: enterToLeft 1.4s ease forwards
  }

  .projects.animation-left .project-left {
    animation: slideInLeft 2s ease forwards;
  }

  .projects.animation-left .project-center {
    transition: ease-in-out;
    animation: slideOutLeft 2s ease forwards
  }

  @keyframes slideOutLeft {
    from {
      transform: translateX(-100%) scale(1) rotateY(0deg);
    }

    to {
      transform: translateX(0%) scale(.8) rotateY(15deg);
    }
  }


  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%) scale(.8) rotateY(15deg);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%) scale(.8) rotateY(-15deg);
    }

    to {
      transform: translateX(0);
    }
  }


  @keyframes enterToLeft {
    from {
      transform: translateX(0) (.8) rotateY(-15deg);
    }

    to {
      opacity: 1;
      transform: translateX(0) (.8) rotateY(-15deg);
    }
  }





  @keyframes slideOffRight {
    to {
      opacity: 0;
      transform: translateX(-100%) scale(.4) rotateY(-15deg);
    }
  }


  @keyframes slideRightLeft {
    to {
      transform: translateX(-100%) scale(.8) rotateY(-15deg);
    }
  }

  @keyframes slideRightRight {
    to {
      transform: translateX(-100%) scale(.8) rotateY(15deg);
    }
  }

  @keyframes slideRight {
    to {
      opacity: 1;
      transform: translateX(-100%)
    }
  }



  @keyframes slideOffLeft {
    to {
      transform: translateX(100%) scale(.6) rotateY(15deg);
    }
  }

  @keyframes slideLeft {
    to {
      transform: translateX(100%)
    }
  }

}

@media screen and (max-width: 870px) {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  header .half-width {
    width: 100%;
  }

  nav {
    margin: var(--spacing) auto;
  }

  .content {
    padding: var(--spacing);
  }

  header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section {
    margin: var(--spacing) 0;
  }

  .skills {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one one"
      "two two"
      "three five"
      "four four";
  }

  .skills article:nth-of-type(4) {
    display: none;
  }

  main,
  header,
  nav {
    width: 100%;
  }

  .projects.animation-right,
  .projects.animation-left {
    animation: slide 0.2s ease forwards;
  }

  @keyframes slide {
    to {
      opacity: 1
    }
  }

  .project {
    margin: 0 10vw;
    flex: 0 0 80% !important;
    transform: rotateY(0);
  }

  .projects.animation-right .project {
    animation: 1s 1 slideToRight forwards;
  }

  .projects.animation-left .project {
    animation: 1s 1 slideToLeft forwards;
  }

  @keyframes slideLeft {
    to {
      transform: translateX(100%)
    }
  }

  @keyframes slideRight {
    to {
      opacity: 1;
      transform: translateX(-100%)
    }
  }

}

@media screen and (max-width: 800px) {

  .passions {
    width: 100%;
  }

  .passions {
    padding: 2rem;
  }

  .passions article {
    mask: none;
    height: auto;
    margin: auto;
    padding: 0;
    margin: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .skills {    
    grid-template-areas:
      "one one"
      "two two"
      "three three"
      "four four"
      "five five";
  }
}