:root {
  --spacing: 1rem;
  --white: 255, 255, 255;
  --dark: #222;
  --background: #ffffff;
  --text: #0a071b;
  --containers: #7f88cb;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --lavender: #fcdfff;
  --pastel-blue: #b4bde3;
  --pastel-pink: #fde3e6;
  --salmon: #fd8395ff;
  --black: #000;
  --brown: #5c2636ff;
  --macaroni: #f7bb84ff;
}

@media (prefers-color-scheme: dark) {
  :root{
    --background: #0f0f2a;
    --text: #fff;
    --containers: #1c2244;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

svg {
  fill: var(--text);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.confetti {
  margin: 0 4px;
  position: relative;
  border-bottom: 2px dashed white;
}

.confetti:hover i {
  animation: bang 1s ease-out forwards;
}

.confetti i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    opacity: 0;
    height: 5px;
    background: red;
}

.confetti:hover i:nth-of-type(1) {
  transform: translate3d(24px, -10px, 0) rotate(79deg);
  background: tomato;
}
.confetti i:nth-of-type(2) {
  transform: translate3d(37px, -14px, 0) rotate(58deg);
  background: mediumaquamarine;
}
.confetti i:nth-of-type(3) {
  transform: translate3d(-40px, -14px, 0) rotate(329deg);
  background: peachpuff;
}
.confetti i:nth-of-type(4) {
  transform: translate3d(-36px, -10px, 0) rotate(345deg);
  background: skyblue;
}
.confetti i:nth-of-type(5) {
  transform: translate3d(-26px, -10px, 0) rotate(329deg);
  background: slateblue;
}
.confetti i:nth-of-type(6) {
  transform: translate3d(0px, -18px, 0) rotate(345deg);
  background: goldenrod;
}

@keyframes bang {
  from {
    transform: scale(1.12) translate3d(0, 0, 0);
    opacity: 1;
  }
}


.fun, .interactions {
  position: relative;
  border-bottom: 1px solid var(--text);
}
.fun:hover + .interactions {
  color: tomato;
}

.fun:hover + .interactions:before, .fun:has(+ .interactions:hover):before {
  content:'';
  width: 100%;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  background:linear-gradient(-45deg,salmon,#6495ed);
  background-size:400% 400%;
  animation:gradient 6s ease infinite
}

@keyframes gradient {
  0% {
    background-position:0 50%
  }
  50% {
    background-position:100% 50%
  }
  to {
    background-position:0 50%
  }
}

.fun:has(+ .interactions:hover) {
  color: skyblue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.full {
  width: 100%;
}

.centered {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column {
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
.buttons a {
  font-weight: normal;
  font-family: "VT323", monospace;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 400;
  font-size: 3.2rem;
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

.sr-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.other-content {
  width: 40%;
}
.text-content,
.other-content {
  color: rgb(var(--white));
  margin-top: calc(var(--spacing) * -1);
  padding: 0 calc(var(--spacing) * 4);
}

header p {
  font-size: 1.2rem;
}

header span:hover {
  border-bottom: 2px dashed white;
}

.links {
  background: var(--background);
  border-top-right-radius: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.links:before {
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 0%,
    transparent 30px,
    var(--background) 30px
  );
  content: "";
  width: 30px;
  right: 0;
  position: absolute;
  height: 30px;
  top: -30px;
  left: 0px;
}

.links:after {
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 0%,
    transparent 30px,
    var(--background) 30px
  );
  content: "";
  width: 30px;
  right: 0;
  position: absolute;
  height: 30px;
  bottom: 0;
  right: -30px;
}

.links a {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: var(--spacing);
  align-items: center;
  border-right: 1px solid #6042685a;
  justify-content: space-around;
}

.links a:last-of-type {
  border-right: 0;
}

.links svg {
  height: 1rem;
}

.indicator {
  position: absolute;
  border: 2px solid rgb(157, 183, 231);
  z-index: 0;
  width: 70px;
  display: block;
  box-shadow: 2px 2px 1rem rgba(100, 148, 237, 0.208);
  padding: 1rem;
  left: 0.8rem;
  height: 1rem;
  border-radius: 2rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: normal;
}

main {
  position: relative;
}

section {
  gap: calc(var(--spacing) * 2);
  position: relative;
  margin: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 2);
  padding-left: 0;
}

.preview {
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  height: 30vh;
  position: relative;
}

.text {
  padding: var(--spacing) calc(var(--spacing) * 2);
  transform: translate(0, -2rem);
  border-top-left-radius: 2rem;
  background: var(--containers);
  padding-bottom: 0;
  width: 100%;
}

.text h3 {
  margin: 0;
  padding: calc(var(--spacing) / 2) 0;
  font-size: 1.8rem;
}

.preview:after {
  content: "";
  display: block;
  background: #63699e4c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.preview:before {
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 0%,
    transparent 30px,
    var(--containers) 30px
  );
  content: "";
  width: 30px;
  right: 0;
  position: absolute;
  height: 30px;
  transform: scaleX(-1);
  bottom: 1.86rem;
  z-index: 1;
}

.preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}


.emoji {
  position: absolute;
  opacity:0;
  transition: .6s;
  right: 1rem;
  top: 1rem;
  font-size:3.2rem;
}

article:hover .emoji {
  animation: enter 1s 1, bounce 3s infinite;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(1.2)
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

.emoji span {
  transition: .6s;
  display: block;
  animation:bounce 3.2s infinite;
}


.little-guy-pixel {
  width: 1px;
  height: 1px;
  margin-left:2px;
  background: transparent;
  box-shadow: 18px 1px #000000, 26px 1px #000000, 17px 2px #000000, 18px 2px white, 19px 2px #000000, 25px 2px #000000, 26px 2px white, 27px 2px #000000, 16px 3px #000000, 17px 3px white, 18px 3px white, 19px 3px #000000, 25px 3px #000000, 26px 3px white, 27px 3px white, 28px 3px #000000, 15px 4px #000000, 16px 4px white, 17px 4px white, 18px 4px white, 19px 4px white, 20px 4px #000000, 24px 4px #000000, 25px 4px white, 26px 4px white, 27px 4px white, 28px 4px white, 29px 4px #000000, 14px 5px #000000, 15px 5px white, 16px 5px white, 17px 5px white, 18px 5px #ff6c6c, 19px 5px white, 20px 5px #000000, 24px 5px #000000, 25px 5px white, 26px 5px #ff6c6c, 27px 5px white, 28px 5px white, 29px 5px white, 30px 5px #000000, 13px 6px #000000, 14px 6px white, 15px 6px white, 16px 6px white, 17px 6px #ff6c6c, 18px 6px #ff6c6c, 19px 6px white, 20px 6px #000000, 21px 6px #000000, 22px 6px #000000, 23px 6px #000000, 24px 6px #000000, 25px 6px white, 26px 6px #ff6c6c, 27px 6px #ff6c6c, 28px 6px white, 29px 6px white, 30px 6px #000000, 12px 7px #000000, 13px 7px white, 14px 7px white, 15px 7px white, 16px 7px white, 17px 7px white, 18px 7px white, 19px 7px white, 20px 7px white, 21px 7px white, 22px 7px white, 23px 7px white, 24px 7px white, 25px 7px white, 26px 7px white, 27px 7px white, 28px 7px white, 29px 7px white, 30px 7px white, 31px 7px #000000, 12px 8px #000000, 13px 8px white, 14px 8px white, 15px 8px white, 16px 8px white, 17px 8px white, 18px 8px white, 19px 8px white, 20px 8px white, 21px 8px white, 22px 8px white, 23px 8px white, 24px 8px white, 25px 8px white, 26px 8px white, 27px 8px white, 28px 8px white, 29px 8px white, 30px 8px white, 31px 8px #000000, 11px 9px #000000, 12px 9px white, 13px 9px white, 14px 9px white, 15px 9px #000000, 16px 9px #000000, 17px 9px white, 18px 9px white, 19px 9px white, 20px 9px white, 21px 9px white, 22px 9px white, 23px 9px white, 24px 9px white, 25px 9px white, 26px 9px #000000, 27px 9px #000000, 28px 9px white, 29px 9px white, 30px 9px white, 31px 9px white, 32px 9px #000000, 11px 10px #000000, 12px 10px white, 13px 10px white, 14px 10px white, 15px 10px #000000, 16px 10px #000000, 17px 10px #000000, 18px 10px white, 19px 10px white, 20px 10px white, 21px 10px white, 22px 10px white, 23px 10px white, 24px 10px white, 25px 10px #000000, 26px 10px #000000, 27px 10px #000000, 28px 10px white, 29px 10px white, 30px 10px white, 31px 10px white, 32px 10px #000000, 11px 11px #000000, 12px 11px white, 13px 11px white, 14px 11px white, 15px 11px var(--cry), 16px 11px #000000, 17px 11px #000000, 18px 11px white, 19px 11px white, 20px 11px white, 21px 11px white, 22px 11px white, 23px 11px white, 24px 11px white, 25px 11px #000000, 26px 11px #000000, 27px 11px var(--cry), 28px 11px white, 29px 11px white, 30px 11px white, 31px 11px white, 32px 11px #000000, 11px 12px #000000, 12px 12px white, 13px 12px white, 14px 12px white, 15px 12px var(--cry), 16px 12px white, 17px 12px white, 18px 12px white, 19px 12px white, 20px 12px #000000, 21px 12px #000000, 22px 12px #000000, 23px 12px white, 24px 12px white, 25px 12px white, 26px 12px white, 27px 12px var(--cry), 28px 12px white, 29px 12px white, 30px 12px white, 31px 12px white, 32px 12px #000000, 11px 13px #000000, 12px 13px white, 13px 13px var(--loved), 14px 13px var(--loved), 15px 13px var(--lovedOrCry), 16px 13px white, 17px 13px white, 18px 13px white, 19px 13px white, 20px 13px white, 21px 13px #000000, 22px 13px white, 23px 13px white, 24px 13px white, 25px 13px white, 26px 13px white, 27px 13px var(--lovedOrCry), 28px 13px var(--loved), 29px 13px var(--loved), 30px 13px white, 31px 13px white, 32px 13px #000000, 10px 14px #000000, 11px 14px white, 12px 14px white, 13px 14px var(--loved), 14px 14px var(--loved), 15px 14px var(--lovedOrCry), 16px 14px white, 17px 14px white, 18px 14px white, 19px 14px white, 20px 14px #000000, 21px 14px white, 22px 14px #000000, 23px 14px white, 24px 14px white, 25px 14px white, 26px 14px white, 27px 14px var(--lovedOrCry), 28px 14px var(--loved), 29px 14px var(--loved), 30px 14px white, 31px 14px white, 32px 14px white, 33px 14px #000000, 10px 15px #000000, 11px 15px white, 12px 15px white, 13px 15px white, 14px 15px white, 15px 15px var(--cry), 16px 15px white, 17px 15px white, 18px 15px #000000, 19px 15px #000000, 20px 15px white, 21px 15px white, 22px 15px white, 23px 15px #000000, 24px 15px #000000, 25px 15px white, 26px 15px white, 27px 15px var(--cry), 28px 15px white, 29px 15px white, 30px 15px white, 31px 15px white, 32px 15px white, 33px 15px #000000, 11px 16px #000000, 12px 16px white, 13px 16px white, 14px 16px white, 15px 16px var(--cry), 16px 16px white, 17px 16px white, 18px 16px white, 19px 16px white, 20px 16px white, 21px 16px white, 22px 16px white, 23px 16px white, 24px 16px white, 25px 16px white, 26px 16px white, 27px 16px var(--cry), 28px 16px white, 29px 16px white, 30px 16px white, 31px 16px white, 32px 16px #000000, 12px 17px #000000, 13px 17px #000000, 14px 17px white, 15px 17px var(--cry), 16px 17px white, 17px 17px white, 18px 17px white, 19px 17px white, 20px 17px white, 21px 17px white, 22px 17px white, 23px 17px white, 24px 17px white, 25px 17px white, 26px 17px white, 27px 17px var(--cry), 28px 17px white, 29px 17px white, 30px 17px #000000, 31px 17px #000000, 14px 18px #000000, 15px 18px var(--cry), 16px 18px white, 17px 18px white, 18px 18px white, 19px 18px white, 20px 18px white, 21px 18px white, 22px 18px white, 23px 18px white, 24px 18px white, 25px 18px white, 26px 18px white, 27px 18px var(--cry), 28px 18px white, 29px 18px #000000, 15px 19px #000000, 16px 19px #000000, 17px 19px white, 18px 19px white, 19px 19px white, 20px 19px white, 21px 19px white, 22px 19px white, 23px 19px white, 24px 19px white, 25px 19px white, 26px 19px white, 27px 19px #000000, 28px 19px #000000, 15px 20px #000000, 16px 20px white, 17px 20px white, 18px 20px white, 19px 20px white, 20px 20px white, 21px 20px white, 22px 20px white, 23px 20px white, 24px 20px white, 25px 20px white, 26px 20px white, 27px 20px white, 28px 20px #000000, 14px 21px #000000, 15px 21px white, 16px 21px white, 17px 21px white, 18px 21px white, 19px 21px var(--loved), 20px 21px var(--loved), 21px 21px white, 22px 21px white, 23px 21px var(--loved), 24px 21px var(--loved), 25px 21px white, 26px 21px white, 27px 21px white, 28px 21px white, 29px 21px #000000, 13px 22px #000000, 14px 22px white, 15px 22px white, 16px 22px white, 17px 22px white, 18px 22px white, 19px 22px var(--loved), 20px 22px var(--loved), 21px 22px var(--loved), 22px 22px var(--loved), 23px 22px var(--loved), 24px 22px var(--loved), 25px 22px white, 26px 22px white, 27px 22px white, 28px 22px white, 29px 22px white, 30px 22px #000000, 12px 23px #000000, 13px 23px white, 14px 23px white, 15px 23px white, 16px 23px #000000, 17px 23px white, 18px 23px white, 19px 23px var(--loved), 20px 23px var(--loved), 21px 23px var(--loved), 22px 23px var(--loved), 23px 23px var(--loved), 24px 23px var(--loved), 25px 23px white, 26px 23px white, 27px 23px #000000, 28px 23px white, 29px 23px white, 30px 23px white, 31px 23px #000000, 12px 24px #000000, 13px 24px white, 14px 24px white, 15px 24px #000000, 16px 24px #000000, 17px 24px white, 18px 24px white, 19px 24px white, 20px 24px var(--loved), 21px 24px var(--loved), 22px 24px var(--loved), 23px 24px var(--loved), 24px 24px white, 25px 24px white, 26px 24px white, 27px 24px #000000, 28px 24px #000000, 29px 24px white, 30px 24px white, 31px 24px #000000, 13px 25px #000000, 14px 25px #000000, 16px 25px #000000, 17px 25px white, 18px 25px white, 19px 25px white, 20px 25px white, 21px 25px var(--loved), 22px 25px var(--loved), 23px 25px white, 24px 25px white, 25px 25px white, 26px 25px white, 27px 25px #000000, 29px 25px #000000, 30px 25px #000000, 16px 26px #000000, 17px 26px white, 18px 26px white, 19px 26px white, 20px 26px white, 21px 26px white, 22px 26px white, 23px 26px white, 24px 26px white, 25px 26px white, 26px 26px white, 27px 26px #000000, 17px 27px #000000, 18px 27px white, 19px 27px white, 20px 27px white, 21px 27px white, 22px 27px white, 23px 27px white, 24px 27px white, 25px 27px white, 26px 27px #000000, 17px 28px #000000, 18px 28px white, 19px 28px white, 20px 28px white, 21px 28px #000000, 22px 28px #000000, 23px 28px white, 24px 28px white, 25px 28px white, 26px 28px #000000, 17px 29px #000000, 18px 29px white, 19px 29px white, 20px 29px #000000, 23px 29px #000000, 24px 29px white, 25px 29px white, 26px 29px #000000, 17px 30px #000000, 18px 30px white, 19px 30px white, 20px 30px #000000, 23px 30px #000000, 24px 30px white, 25px 30px white, 26px 30px #000000, 17px 31px #000000, 18px 31px white, 19px 31px white, 20px 31px #000000, 23px 31px #000000, 24px 31px white, 25px 31px white, 26px 31px #000000, 18px 32px #000000, 19px 32px #000000, 24px 32px #000000, 25px 32px #000000;
  transform:scale(3.8) translate(-800%, -700%);
}



.little-guy-speech {
  position:absolute;
  z-index:9;
  top: 0;
  left: 0;
}
.speech {
  background: white;
  color:black;
  padding:4px;
  width: 50%;
  transform: translate(80px, -40px);
  position: relative;
  font-size:20px;
  font-family: 'VT323', monospace;
}
.speech span.top, .speech span.bottom {
  position:absolute;
  display:block;
  height:calc(100% - 8px);
  top:4px;
  left:-4px;
  width:4px;
  background: white;
}

.speech span.bottom, .speech span.bottom:before {
  left: auto;
  right:-4px;
}

.speech span.top:after {
  content:'';
  position:absolute;
  bottom:0;
  width:4px;
  height:4px;
  box-shadow: 24px 8px white, 20px 8px white, 16px 16px white, 20px 12px white;
}


.little-guy {
width:100px;
position:relative;
height:100px;
  animation: float 4s infinite;
}

@keyframes float {
  0% {
    transform: translate3d(0,0,0) scale3d(1.2, 1.18, 1);
  }
  50% {
    transform: translate3d(0, 1rem, 0) scale3d(1.22, 1.2, 1.2);
  }
  100% {
    transform: translate3d(0,0,0) scale3d(1.2, 1.2, 1);
  }
}

  .little-guy.sad-true{
    --cry: skyblue;
    --lovedOrCry: skyblue;
  }
  .little-guy.fed-true, .little-guy:hover{
      --loved: #ff8080;
      --lovedOrCry: #ff8080;
  }

.little-guy {
  transform:translate(8px, 0);
  z-index:1;
  --loved: white;
  --cry: white;
  --lovedOrCry: white;
}

article .emoji span{
  transform: rotate(-20deg)
}

article:nth-of-type(2) .emoji span{
  transform: rotate(30deg)
}

article:nth-of-type(3) .emoji span {
  transform: rotate(-10deg)
}

article:nth-of-type(4) .emoji span {
  transform: rotate(20deg)
}

@keyframes bounce {
  50% {
       transform:translateY(-2px) scale(1.02);
  }
  
}


#featured-work article:hover .emoji{
  opacity: 1;
  z-index: 4;
}

#featured-work article {
  width: 33%;
  border-radius: 0.6rem;
  position: relative;
  transition: box-shadow 0.4s;
  background: var(--containers);
  box-shadow: 0px 0px 0px 2px rgba(67, 77, 113, 0),
    0px 0px 4px 20px rgba(67, 77, 113, 0);
}

#featured-work:before,
#featured-work:after {
  content: "";
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0rem;
  display: block;
  position: sticky;
  width: 150px;
  margin-right: -180px;
  background: linear-gradient(to left, transparent, var(--background));
  z-index: 2;
}

#featured-work:after {
  background: linear-gradient(to right, transparent, var(--background));
  right: -2rem;
}

#featured-work article:hover {
  box-shadow: 0px 0px 0px 0px var(--containers),
    0px 0px 0px 0px var(--containers) !important;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  transition: 0.6s;
  border-radius: 8px;
  z-index: 2;
  background: #4651a787;
}

article:hover .buttons {
  opacity: 1;
}

.buttons a {
  font-size: 2rem;
}

.preview img {
  object-position: top;
}

#featured-work {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  height: 60vh;
  overscroll-behavior: contain;
}

.label {
  position: absolute;
  z-index: 3;
  background: var(--background);
  padding: var(--spacing);
  font-size: 1.8rem;
  top: 2rem;
  left: var(--spacing);
  border-bottom-right-radius: 2rem;
}

.label:before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 1rem);
  height: 2rem;
  top: -2rem;
  background: var(--background);
}

.label:after {
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 0%,
    transparent 30px,
    var(--background) 30px
  );
  content: "";
  width: 30px;
  right: 0;
  position: absolute;
  height: 30px;
  transform: scaleY(-1);
  top: 0px;
  right: -30px;
}

#daynight-toggle {
  position: absolute;
  width: 3rem;
  border: 0;
  height: 3rem;
  background: var(--background);
  right: 0;
  cursor: pointer;
  font-size: 1.4rem;
  padding: var(--spacing);
  border-bottom-left-radius: 2rem;
}

#daynight-toggle:before {
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 0%,
    transparent 30px,
    var(--background) 30px
  );
  content: "";
  width: 30px;
  right: 0;
  position: absolute;
  height: 30px;
  top: 0px;
  left: -28px;
  transform: scaleX(-1) scaleY(-1);
}

#daynight-toggle:after {
  background-image: radial-gradient(
    circle at 100% 0%,
    transparent 0%,
    transparent 30px,
    var(--background) 30px
  );
  content: "";
  width: 30px;
  right: 0;
  position: absolute;
  height: 30px;
  transform: scaleX(-1) scaleY(-1);
  bottom: -28px;
  right: 0px;
}

.toggle {
  display: block;
  padding: var(--spacing);
}

.dark-mode-theme .toggle:before {
  content: "🌕";
}

.toggle:before {
  content: "🌑";
}

footer nav a {
  color: white;
}

.video-button {
  cursor: pointer;
  position: absolute;
  left:  1rem;
  z-index: 9;
  top: 1rem;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: .4rem;
  opacity: .4;
  background:rgba(96, 93, 252, 1);
  padding: calc(var(--spacing) / 2);
  border: none;

}



div:hover:has(.video-button) .video-button {
  opacity: 1;
}

@media screen and (max-width: 870px) {
  .other-content {
   display: none;
  }

}

@media screen and (max-width: 800px) {
  #featured-work article {
    width: 90%;
  }

  .hide-on-mobile {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  .text-content {
    padding: calc(var(--spacing) * 2);
  }
  #daynight-toggle {
    display: none;
  }

  #featured-work:before,
#featured-work:after {
  display: none!important
}

  .links a {
    padding: var(--spacing);
    border-right: 0;
  }
  .links a:last-of-type, .links a:first-of-type{
    display: none;
  }

  section article,
  section > *,
  article {
    margin: var(--spacing);
    text-align: center;
    width: 100%!important;
  }

  #featured-work article {
    margin-left:-5%;
    width: 120% !important;
  }

  footer nav {
    min-width: auto !important;
    width: 90vw !important;
    padding: 0 !important;
    gap: 0;
    & a {
      margin: 0.4rem !important;
      padding: 0.4rem !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
