.header h1 {
    font-size: 6rem;
}

.header {
    padding:0;
    max-width: 100%;
    margin: 0;
    width: 100%;
}

.skill {
    display: flex;
    gap: 1.2rem;
}

.skill span {
    font-family: 'Open Sans';
    padding: 8px 12px; 
    font-size: 1rem;
    border-radius: 2rem;
    background: var(--folder);
}

.skill span:hover{
    border: 0;
}

.skill span:nth-of-type(2) {
      background: rgb(69, 104, 179);
}

.skill span:nth-of-type(3) {
  background: rgb(23, 93, 109);
}

.skill span:nth-of-type(4) {
  background: rgb(151, 48, 106);
}
.footer {
    position: fixed;
    bottom: var(--spacing);
    width: 100%;
    z-index: 9;
}

.footer nav {
    background:  rgba(0,0,0, .4);
    padding: 0 var(--spacing);
    backdrop-filter: blur(30px);;
    margin: var(--spacing);
    min-width: 480px;
    border:1px solid rgba(var(--white), .2);
    border-radius: 3rem;
    & a, button {
        border-radius: 3rem;
        margin: var(--spacing);
        padding: .6rem var(--spacing);
    }
    & button {
        background: transparent;
        border: 0;
        cursor: pointer;
    }
}

.site {
    margin: calc(var(--spacing) / 2)!important;
    background: rgba(96, 93, 252, 0.67)
}

.about {
    width: 90%;
    max-width: 900px;
    margin: var(--spacing) auto;
    padding: var(--spacing);
    border-radius: var(--spacing);
}

.header {
    background: linear-gradient(to bottom, #4651a787, var(--background));
    backdrop-filter: blur(10px);
    width: 100%;
    padding: var(--spacing);
    height: 50vh;
}

.section p {
    padding: var(--spacing) 0 ;
}

.push {
    justify-content: center;
    text-align: center;
}

.section {
    gap: 0;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}
.section article {
    width: 46%;
    padding: var(--spacing);
}

.section li, .section ul {
    margin-left: var(--spacing);
}

.section .videoContainer {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    & video {
        width: 100%;
    }
}
.video {
    position: absolute;
    height: 50vh;
    margin: auto;
    border-radius: var(--spacing);
    width: 100%;
    z-index:-1;
    overflow: hidden;
    & video {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .videoContainer {
        order: 1;
    }
}